.dag-view-container {
    
}

.stat-view{
    padding-left: 15%;
    padding-right: 15%;
}
.stat-box{
    height: 225px;
}

.stat-box-data{
    font-size: 72pt;
    text-align: center;
}

.stat-box-label{
    text-align: center;
    font-size: 36pt;
}
